/*---------header of the webpage---------*/
.time-container {
    width: 100%;
    text-align: center;
    border-bottom: solid 4px black;
}

h1 {
    font-size: 70px;
    margin: 10px;
}

#current-date {
    font-size: 30px;
    padding: 40px 0 20px 0;
    margin-bottom: 20px;
}
/*---------header of the webpage---------*/