/*---------header of the webpage---------*/
.time-container {
    width: 100%;
    text-align: center;
    border-bottom: solid 4px black;
}

h1 {
    font-size: 70px;
    margin: 10px;
}

#current-date {
    font-size: 30px;
    padding: 40px 0 20px 0;
    margin-bottom: 20px;
}
/*---------header of the webpage---------*/
.schedule-container {
    margin: 0 auto;
    width: 800px;
    max-width: 80%;
    padding: 20px;
}

.save-btn {
    background-color: rgb(0, 110, 255);
    color: white;
}

.time {
    padding: 10px;
}

.past {
    background-color: rgb(253, 98, 98);
}

.future {
    background-color: rgb(66, 184, 66);
}

.present {
    background-color: rgb(156, 156, 156);
}